body { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/main/BG_CAFE_PFP_CLIPBOARD.png) no-repeat;
    background-size: contain;  /* Ajusta a imagem para caber sem cortes */
    background-position: center;
    overflow-y: hidden;
    background-color: #000000;
  }