body { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/BG.png) no-repeat;
    background-size: cover;
    background-position: center;
  }