<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Guardiões das Relíquias</title>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    </head>

    <body>

      <div class="wrapper">
          <h1>Guardiões das Reliquias</h1><br>
          <button class="btn" onclick="window.location.href='/login'">Login</button>
          <button class="btn" onclick="window.location.href='/cadastro'">Cadastrar</button>
      </div>

    </body>
</html>
