<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Login</h1>

        <form>
            Usuário:<br>
            <input type="text" name="usuario" value=""><br>
            Senha:<br>
            <input type="password" name="senha" value=""><br>
            <button type="">Login</button>
        </form>

    
    </body>
</html>
