<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Guardiões das Relíquias</title>
        <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
        <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">

    </head>
    <body>
    
        <div class="wrapper">
          <h1>Página Principal</h1><br>
          <h2>Bem vindo {{ username }}</h2><br>
          <!--<a href="/status">Status</a> | <a href="/inventory">Inventário</a>-->
        </div>

        <div class="menuOptions">
            <img src="../static/images/main/INVENTÁRIO.png" alt="Inventario" class="Inventario">
        </div>

    </body>
</html>
