<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Guardiões das Relíquias</title>
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>
    
        <div class="wrapper">
          <h1>Página Principal</h1><br>
          <h2>Bem vindo {{ username }}</h2><br>
          <!--<a href="/status">Status</a> | <a href="/inventory">Inventário</a>-->
        </div>

    </body>
</html>
