<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
    
        <a href="/main">Voltar</a> 

        <h1>Status</h1>

        <h2>Zeref</h2>

        Status do Zeref

    </body>
</html>
